
input {
  file {
    path => [ "/Users/library/development/benchmarking/resources/*.txt" ]
    type => "collectl"
    start_position => "beginning"
  }
}
filter {
  if [type] == "collectl" {
    grok {
      match => { "message" => "%{NUMBER:date} %{WORD:time} %{NUMBER:cpu:int} %{NUMBER:sys:int} %{NUMBER:inter:int} %{NUMBER:ctxsw:int} %{WORD:Free} %{WORD:Buff} %{WORD:Cach} %{WORD:Inac} %{WORD:Slab} %{WORD:Map} %{NUMBER:KBRead:int} %{NUMBER:Reads:int} %{NUMBER:KBWrite:int} %{NUMBER:Writes:int} %{NUMBER:KBIn:int} %{NUMBER:PktIn:int} %{NUMBER:KBOut:int} %{NUMBER:PktOut:int}" }
    }
  }
}
output {
  elasticsearch {
    action => "index"
    hosts => "127.0.0.1"
    index => "logstash-%{+YYYY.MM.dd}"
    workers => 1
  }
  #stdout {
  #  codec => rubydebug
  #}}
}
